<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
   <!--automatically iterates on users hash and renders _users partial-->
</ul>

<%= will_paginate %>
